html {
    height: 100%;
}

header, nav, footer {
    display: block;
}

body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#menu {
    width: 250px;
    height: 100vh;
    background: #2c2d43;
    color: #ecf2f4;
    position: fixed;
    left: -208px;
    top: 0;
    transition: all ease 1s;
    cursor: pointer;
}

#menu::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url("./images/menu.png");
    position: absolute;
    right: 5px;
    top: 5px;
}

#tree {
    position: absolute;
    padding: 0;
    left: 20px;
    top: 40px;
}

#tree li {
    list-style-type: none;
}

span {
    cursor: pointer;
}

.hide::before {
    content: "+ ";
}
.show::before {
    content: "– ";
}

.container {
    background: #8f9ab1;
    position: relative;
    width: 70%;
    margin: 30px 100px;
    text-align: center;
    left: 0;
    transition: all ease 1s;
}

iframe {
    width: 90%;
    height: 350px;
    background: #ecf2f4;
    border-width: 1px;
    border-color: #383838;
}

.close {
    border: 1px solid #383838;
    background: #bf4747;
    position: relative;
    cursor: pointer;
}

footer{
    background: rgb(60, 63, 65);
    padding: 20px 0;
    border-bottom: 3px solid rgb(43, 43, 43);
    border-right: 3px solid rgb(43, 43, 43);
    border-left: 3px solid rgb(43, 43, 43);
    position: relative;
    margin: auto -8px;
}

footer p{
    color: #fff;
    margin: 10px 5px;
}

.copyright{
    font-size: 14px;
    text-align:center;
    border-top: 1px solid #fff;
}
