.calc {
    background: dimgrey;
    width: 332px;
    border: 5px solid darkgrey;
}

#display {
    width: 324px;
    height: 50px;
    font-family: Dialog;
    font-size: xx-large;
    border: 5px solid darkgrey;
    outline: none;
    /*direction: rtl;*/
}

.number {
    background: beige;
    font-family: Dialog;
    color: #383838;
    border:0;
    font-weight: bold;
    font-size: xx-large;
    width: 70px;
    height: 70px;
    margin: 5px;
}

.operation {
    background: darkgrey;
    font-family: Dialog;
    color: #383838;
    border:0;
    font-size:xx-large;
    width: 70px;
    height: 70px;
    margin: 5px;
    left: 0;
}
